@import "../libraries/bootstrap/css/bootstrap.min.css";

$blue-1: #373b47;
$blue-2: #252830;

body{
  background: $blue-1;
  overflow-y: scroll;
}

.list-unstyled{
  margin: 0;
}

#loading_wrap{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 34, 53, 0.5);
  position: fixed;
  z-index: 1100;
  color: #FFF;
  i{
    position: fixed;
    width: 100%;
    z-index: 200;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    text-align: center;
  }
}

.presearch{
  margin: 50px auto;
}

.alert{
  width: 100%;
  margin: 15px 15px 0px 15px;
}

.fs-0{
  font-size: 0;
}

#content{
  padding: 20px;
  background: #f0efef;
}

img {
  opacity: 1;
  transition: opacity 0.25s;
}

img[data-src] {
  opacity: 0;
}

.popover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: #FFF;
  background: none;

  .popover-header{
    background-color: $blue-2;
    border: none;
  }
  .popover-body{
    background-color: $blue-1;
    color: inherit;
  }
}

.bs-popover-auto[x-placement^=right] .arrow::after, .bs-popover-right .arrow::after {
  border-right-color: $blue-1;
}

.bs-popover-auto[x-placement^=left] .arrow::after, .bs-popover-left .arrow::after {
  border-left-color: $blue-1;
}

.tag-list{
  li{
    display: inline-block;
    white-space: nowrap;
    line-height: 1em;
    font-size: 14px;
    margin: 0 3px 3px 0;
    padding: 5px 8px;
    background: $blue-2;
    cursor: pointer;
    &:hover{
      background: #3971ad;
    }
    &.selected_tag{
      background: #007bff;
    }
    &.disabled{
      opacity: 0.5;
      color: #999;
      cursor: not-allowed;
    }
  }
}

#filter {
  background: $blue-1;
  color: #fff;
  transition: all 0.3s;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  .form-control, .btn{
    font-size: inherit;
  }
  .form-group{
    padding: 0px;
    margin: 0px;
  }
  .form-control{
    color: #FFF;
    background: $blue-2;
    border: none;
  }
  .row{
    margin: 0px;
    padding: 10px;
  }
  .filter-header {
    background: $blue-2;
    line-height: 38px;
    font-size: 18px;
    #github-link{
      color: $blue-2;
      background: #fff;
      border: none;
      font-size: 16px;
      line-height: initial;
      &:hover{
        color: #007bff;
      }
    }
  }
}